<div class="page-header">
	<h1><i class="icon-resize-small"> </i>Sequencing Plates</h1>
</div>
<p>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>id</th>
				<th>Name</th>
				<th>Type</th>
				<th>Status</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>		
			<% @sequencing_plates.each do |plate| %>
				<tr>
					<td><%= link_to plate.id, admin_sequencing_plate_path(plate) %></td>
					<td><%= plate.name %></td>
					<td>
						<% if plate.master_plate.nil? %>
							<span class="label label-info">Master</span>
						<% else %>
							<span class="label">Replica</span>
						<% end %>
					</td>
					<td><%= plate.status %></td>
					<td><%= plate.created_at %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</p>

