<div class="page-header">
	<h1><i class="icon-random"> </i>tPCR</h1>
</div>
<p>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Status</th>
				<th>Device</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>		
			<% @tpcrs.each do |pcr| %>
				<tr>
					<td><%= link_to pcr.id, tpcr_path(pcr) %></td>
					<td><%= pcr.status.name %></td>
					<td><%= pcr.device.name %></td>
					<td><%= pcr.created_at %></td>	
				</tr>
			<% end %>
		</tbody>
	</table>
</p>
