<div class="page-header">
	<h1><i class="icon-folder-open"> </i>Plasmids</h1>
</div>
<p>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>id</th>
				<th>Name</th>
				<th>Vendor</th>
			</tr>
		</thead>
		<tbody>		
			<% @plasmids.each do |p| %>
				<tr>
					<td><%= link_to p.id, admin_plasmid_path(p) %></td>
					<td><%= p.name %></td>
					<td><%= p.vendor.name %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</p>

