<div class="page-header">
	<h1><i class="icon-folder-open"> </i>Devices</h1>
</div>
<p>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>id</th>
				<th>Name</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody>		
			<% @devices.each do |d| %>
				<tr>
					<td><%= link_to d.id, admin_device_path(d) %></td>
					<td><%= d.name %></td>
					<td><%= d.device_type %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</p>

