<div class="page-header">
	<h1><i class="icon-folder-open"> </i>Groups</h1>
</div>
<p>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>gid</th>
				<th>Groups</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>		
			<% @groups.each do |g| %>
				<tr>
					<td><%= link_to g.id, admin_group_path(g) %></td>
					<td><%= g.name %></td>
					<td><%= g.description %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</p>

